aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.10
frozenlist==1.2.0
idna==3.3
iso8601==0.1.16
multidict==5.2.0
git+https://github.com/Pycord-Development/pycord.git@71c0711e
pypika-tortoise==0.1.3
pytz==2021.3
PyYAML==6.0
tortoise-orm==0.18.1
typing_extensions==4.0.1
yarl==1.7.2
